

header, main, footer {
	clear:both;
	margin-left:40;
	width:960px;
	
}

header, main h1 {
	color:#00ff00;
}

a, a:visited {
	color:blue;
	text-decoration:none;
}

a:hover {
	color: #77ccee;
	text-decoration: none;
}

#nav {
	list-style: none;
	width:960px;
	margin-left:-40px;
	
}

#nav li {
	display:list-item;
	float: left;
	padding:5px;
	margin-bottom:20px;
	margin-right:10px;
	height:30px;
	width:110px;
	text-align:center;
	font-size:13px;
	border: 3px solid white;
	border-radius:10px;
}

#menu {
	width:150px;
	display: block;
	float:right;
	margin-right:-40px;
	}

#menu ul {
	list-style: none;
	float:right;
	margin-right:0;
	border-right: 1px solid yellow;
	}
	
#menu li {
	width: 125px;
	padding:5px;
	margin-bottom:10px;
	font-size:13px;
	}
	
article {
	width:700px;
	display: block;
	margin-right:-300;
	margin-left:-300
	}
a.buttons {
	-webkit-font-smoothing: antialiased;
	background: url(../images/arrow-down.png) no-repeat;
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	padding: 4px 4px 4px 22px;
	height: 30px;
	margin-right:-40px;
}
body {
  padding:10px 50px 0 0;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #232323;
	background-color: #FBFAF7;
	margin: 0;
	line-height: 1.8em;
	-webkit-font-smoothing: antialiased;

}